.skills{
    background-color: #22252c;
    padding: 1% 10%;
    color: #f6fcfa;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 180px;


}
.skills-title{
    z-index: 3;
}
.skills-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
}
.skills-icon-img{
    width: 100px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    z-index: 3;
}