.skills{
    background-color: #22252c;
    padding: 1% 10%;
    color: #f6fcfa;
    text-align: center;
}
.skills-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.skills-icon-img{
    width: 100px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}