.resume {
  padding: 1% 20%;
  padding-top: 100px;
  padding-bottom: 150px;
  color: #f6fcfa;
  text-align: center;
}
.resume-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .card {
    flex-basis: 100%;
  }
  .resume {
    padding-top: 35%;
  }
}
