.projects{
    background-color: #22252c;
    padding: 1% 20%;
    color: #f6fcfa;
    text-align: center;
}
.projects-cards {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    
}

@media (max-width: 768px) {
    .card {
      flex-basis: 100%;
    }
  }
