
body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #22252c;
  
}
.App{
  background-color: #22252c;
}
html {
  scroll-behavior: smooth;
}
/* App.css */
.carousel-container {
  height: 300px; /* Ajusta la altura según sea necesario */
}
